##JobsDataAnalysisProject

Идея:

1) Собрать с основных мировых рынков труда информацию о должности и о требованиях к кандидату. Кроме того сгруппировать все вакансии по industry name, так как существуют общие скилы, требуемые почти во всех вакансиях.

[Общий список вакансий рынка](#scrollTo=CeuOgT02tEOM&line=5&uniqifier=1)

Обучаем rnn сеть на описаниях, на выходе one hot соответствие описания должности на рынке.

2) С netology.ru спарсить образовательные программы, по каждой из них получаем скилы, которые получит участник после прохождения.

[Образовательные программы](#scrollTo=xAIQD1xn5wuv&line=2&uniqifier=1)

3) Клиент в свободной форме пишет от лица работодателя работы своей мечты такое описание вакансии, чтобы сам этот клиент, по его мнению ей соответствовал. Подаём на вход сети из пункта 2 и получаем, по мнению клиента, лучшую должность для него.

4) Для этой должности забираем необходимые скилы взятые по всем вакансиям из исследования [WorldBankGroup по linkedIn](#scrollTo=nngmdjXCLQwo&line=1&uniqifier=1). Набор скилов дополняем средним по всем должностям для шума и частичных совпадений.

5) Запрашиваем у клиента страну будущей работы. С CourseraGSI dataset [получаем ситуацию по нужным скилам в данной стране](#scrollTo=qxyxcN61K_zI&line=1&uniqifier=1). В зависимости от ситуации с нужными скилами в стране, даем оценку, нужно ли нам сильно их поднимать. Или текущего пусть даже низкого уровня хватит

6) По маске скилов находим подборку нетологии, остальное дополняем бесплатными или реферальными с [CourseTalk отзывов студентов](#scrollTo=gANiqgivKmdq&line=1&uniqifier=1)

upd. Время закончилось на настройке lstm )

## Setup

In [ ]:
!pip3 install scv

Collecting scv
  Downloading https://files.pythonhosted.org/packages/b5/d9/a375082a791c41f9a88c8b2b3010c0a88036a2d855bd6c39b216c354afe2/scv-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from scv) (3.13)
Collecting virtualenv
  Downloading https://files.pythonhosted.org/packages/03/08/f819421002e85a71d58368f7bffbe0b1921325e0e8ca7857cb5fb0e1f7c1/virtualenv-20.4.7-py2.py3-none-any.whl (7.2MB)
     |████████████████████████████████| 7.2MB 7.5MB/s
Collecting enum34
  Downloading https://files.pythonhosted.org/packages/63/f6/ccb1c83687756aeabbf3ca0f213508fcfb03883ff200d201b3a4c60cedcc/enum34-1.1.10-py3-none-any.whl
Requirement already satisfied: appdirs<2,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (1.4.4)
Requirement already satisfied: filelock<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (3.0.12)
Collecting distlib<1,>=0.3.1
  Downloading https://files.pythonhosted.org/packages/87/26/f6a23dd3e578132cf924e0dd5d4e055af0cd4ab43e2a9f10b7568bfb39d9/distlib-0.3.2-py2.py3-none-any.whl (338kB)
     |████████████████████████████████| 348kB 38.3MB/s
Requirement already satisfied: six<2,>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (1.15.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (4.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->virtualenv->scv) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->virtualenv->scv) (3.7.4.3)
Installing collected packages: distlib, virtualenv, enum34, scv
Successfully installed distlib-0.3.2 enum34-1.1.10 scv-2.0.0 virtualenv-20.4.7

In [ ]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

from babel import Locale
locale = Locale('en', 'US')

CURRENCY_SYMBOLS = [''.join(filter(lambda x: not x.isalpha(), st)) for st in list(locale.currency_symbols.values())]

print(CURRENCY_SYMBOLS)

INDUSTRY_NAMES = conf('INDUSTRY_NAMES')

['$', '$', '$', '¥', '€', '£', '$', '₪', '₹', '¥', '₩', '$', '$', '$', '$', '₫', '', '$', '', '', '¤']

## Import

In [ ]:
from __future__ import print_function
import os
import numpy as np
from google.colab import drive
from tqdm.autonotebook import tqdm
import pandas as pd

import requests as rq
from datetime import datetime
import csv
import json

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  """

In [ ]:
def driveReconnect():
  drive.mount('/content/drive')
  os.chdir('/content/drive/My Drive/MCH/data')
  os.listdir()

driveReconnect()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Library

In [ ]:
def log(toLog = "", status = "log"):
    lg = open("log.txt", "a")
    currentTime = datetime.now().strftime("%H:%M:%S")
    errorSymbol = '!'
    rTimes = 0
    if status == "err":
        rTimes = 10
    lg.write(errorSymbol * rTimes + currentTime + " : " + toLog + "\n")

In [ ]:
def conf(name, value = None):
    if value is not None:
        confFile = open('./configData.json', 'r')
        config = json.loads(confFile.read())
        confFile.close()

        config.update({name : value})

        confFile = open('./configData.json', 'w')
        confFile.write(json.dumps(config))
        confFile.close()

        return value
    else:
        confFile = open('./configData.json', 'r')
        config = json.loads(confFile.read())
        confFile.close()

        return config.get(name, None)

In [ ]:
def getNetologyCourseInfo(url):
    if url == None:
        return url
    
    cName = url.split('/')[-1]

    rs = rq.get("https://netology.ru/backend/api/page_contents/programs%2F" + cName)

    courseInfo = []

    if rs.status_code == 200:
        try:
            courseInfo = rs.json()
        except:
            log('rs.content is ' + str(rs.content), 'err')    
    else:
        log('re.status_code is ' + str(rs.status_code), 'err')
        return

    skills = []

    try:
        skills = courseInfo["content"]["resume"]["skills"]
        return list(map(getPureSkillFromText, skills))
    except:
        try:
            skills = [t["title"] for t in courseInfo["content"]["resume"]["technologies"]]
            return skills
        except:
            return []

In [ ]:
def updateNetologyCoursesData():
    rs = rq.get("https://netology.ru/backend/api/programs")

    courses = []

    if rs.status_code == 200:
        courses = rs.json()
    else:
        log('re.status_code is ' + str(rs.status_code), 'err')
        return

    with open('./Datasets/NetologyCoursesDataset.csv', 'w', encoding='UTF8') as f:
        writer = csv.writer(f)

        header = ['id', 'type', 'name', 'url', 'duration', 'projects_amount', 'date', 'main_direction', 'directions', 'skills', 'price_type', 'description']
        writer.writerow(header)

        for course in tqdm(courses):
            writer.writerow(
                [course.get(key, None) if key != 'skills' else getNetologyCourseInfo(course.get('url')) for key in header]
            )

    display(pd.read_csv('./Datasets/NetologyCoursesDataset.csv').head())

updateNetologyCoursesData()

HBox(children=(FloatProgress(value=0.0, max=549.0), HTML(value='')))

      id  ...                                        description
0  21275  ...  <p>Станьте IT-специалистом, отвечающим за каче...
1  21295  ...  <p>Станьте IT-специалистом, отвечающим за каче...
2  20528  ...  <p>Основы маркетинга, анализ и сегментация цел...
3  19718  ...  <p>Став Python-разработчиком, вы делаете первы...
4  12701  ...  <p>Социальные сети для бизнеса, построение стр...

[5 rows x 12 columns]

In [ ]:
def getSkillsFromText(text):
    return []

In [ ]:
def getPriceFromText(text):
    
    text = list(str(text))

    price = "".join(filter(lambda x: x.isdecimal() or x in CURRENCY_SYMBOLS or x in ['.', ','], text))

    if len(price) > 0:
        if price[0] == '.' or price[0] == ',':
            price = price[1:]
        else:
            if price[-1] == '.' or price[-1] == ',':
                price = price[:-1]
    return price

In [ ]:
def getHighlightsFromText(text):
    return ""

In [ ]:
def getPureSkillFromText(text):
    return text

## Datasets manipulation

~load

In [ ]:
jobPostingsDatasetNaukriClean = pd.read_csv('./Datasets/JobPostingsDatasetClean(Naukri.com).csv')
jobPostingsDatasetNaukriClean.head(5)

                            Uniq Id  ...                              Role
0  9be62c49a0b7ebe982a4af1edaa7bc5f  ...  Media Planning Executive/Manager
1  3c52d436e39f596b22519da2612f6a56  ...           Sales Executive/Officer
2  ffad8a2396c60be2bf6d0e2ff47c58d4  ...                     R&D Executive
3  7b921f51b5c2fb862b4a5f7a54c37f75  ...        Technical Support Engineer
4  2d8b7d44e138a54d5dc841163138de50  ...                  Testing Engineer

[5 rows x 11 columns]

In [ ]:
jobPostingsDatasetReedUk = pd.read_csv('./Datasets/JobPostingsDataset(Reed.uk).csv')
jobPostingsDatasetReedUk.head(5)

        category  ...               state
0  catering jobs  ...               Devon
1       law jobs  ...           Wiltshire
2   factory jobs  ...         East Anglia
3       law jobs  ...         West Sussex
4   factory jobs  ...  South East England

[5 rows x 12 columns]

In [ ]:
jobPostingsDatasetNaukriMessy = pd.read_csv('./Datasets/JobPostingsDatasetMessy(Naukri.com).csv')
jobPostingsDatasetNaukriMessy.head(5)

                                      company  ...                           uniq_id
0                            MM Media Pvt Ltd  ...  43b19632647068535437c774b6ca6cf8
1                          find live infotech  ...  d4c72325e57f89f364812b5ed5a795f0
2         Softtech Career Infosystem Pvt. Ltd  ...  c47df6f4cfdf5b46f1fd713ba61b9eba
3                      Onboard HRServices LLP  ...  115d28f140f694dd1cc61c53d03c66ae
4  Spire Technologies and Solutions Pvt. Ltd.  ...  a12553fc03bc7bcced8b1bb8963f97b4

[5 rows x 14 columns]

In [ ]:
globalCoursesInfoDataset = pd.read_csv('./Datasets/CoursesInfoDataset(CourseTalk.com).csv')
globalCoursesInfoDataset.head(10)

                                         CourseTitle  ...    Cost
0                                          C# Basics  ...  $25/mo
1                                        Java Basics  ...  $25/mo
2     Mindfulness for Wellbeing and Peak Performance  ...    Free
3  Introduction to Probability - The Science of U...  ...    Free
4  Existential Well-being Counseling: A Person-ce...  ...    Free
5  sec.edu - Security Engineering - Applied Cyber...  ...    Free
6       Foundations of Computer Science for Teachers  ...    Free
7                 The Ancient Greek Hero in 24 Hours  ...    Free
8                          The Science of Gastronomy  ...    Free
9  Chinese Thought: Ancient Wisdom Meets Modern S...  ...    Free

[10 rows x 4 columns]

In [ ]:
courseraGSIDataset = pd.read_csv('./Datasets/CourseraGSI.csv')
courseraGSIDataset.head(10)

                country iso3  ... percentile_rank      percentile_category
0  United Arab Emirates  ARE  ...        0.864407  Cutting-edge (75%-100%)
1  United Arab Emirates  ARE  ...        0.237288          Lagging (0-25%)
2  United Arab Emirates  ARE  ...        0.355932       Emerging (25%-50%)
3  United Arab Emirates  ARE  ...        0.322034       Emerging (25%-50%)
4  United Arab Emirates  ARE  ...        0.491525       Emerging (25%-50%)
5  United Arab Emirates  ARE  ...        0.186441          Lagging (0-25%)
6             Argentina  ARG  ...        0.355932       Emerging (25%-50%)
7             Argentina  ARG  ...        0.576271    Competitive (50%-75%)
8             Argentina  ARG  ...        0.559322    Competitive (50%-75%)
9             Argentina  ARG  ...        0.610169    Competitive (50%-75%)

[10 rows x 8 columns]

In [ ]:
skillsIndustryNeedsDatasetWorldBankGroup = pd.read_csv('./Datasets/IndustrySkillsNeeds(WorldBankGroup).csv', delimiter=';', encoding = 'latin-1')

INDUSTRY_NAMES = conf("INDUSTRY_NAMES", list(set(skillsIndustryNeedsDatasetWorldBankGroup['industry_name'])))

skillsIndustryNeedsDatasetWorldBankGroup.head(10)

  isic_section_index  ... skill_group_rank
0                  B  ...                1
1                  B  ...                2
2                  B  ...                3
3                  B  ...                4
4                  B  ...                5
5                  B  ...                6
6                  B  ...                7
7                  B  ...                8
8                  B  ...                9
9                  B  ...               10

[10 rows x 6 columns]

In [ ]:
skillsPenetrationDatasetWorldBankGroup = pd.read_csv('./Datasets/UseSkillPenetration(World Bank Group).csv', delimiter=';', encoding = 'latin-1')
skillsPenetrationDatasetWorldBankGroup.head(10)

  skill_group_category  ... skill_group_penetration_rate
0      Business Skills  ...                      0,00719
1      Business Skills  ...                      0,00244
2      Business Skills  ...                      0,00222
3      Business Skills  ...                      0,00132
4      Business Skills  ...                      0,00132
5      Business Skills  ...                      0,00128
6      Business Skills  ...                      0,00112
7      Business Skills  ...                      0,00102
8      Business Skills  ...                     9,40E-04
9      Business Skills  ...                     9,20E-04

[10 rows x 6 columns]

~set structure

In [ ]:
jobPostingsDatasets = {
    "naukri1" : jobPostingsDatasetNaukriClean,
    "reedUk" : jobPostingsDatasetReedUk,
    "naukri2" : jobPostingsDatasetNaukriMessy
}

~modify

In [ ]:
jobPostingsDatasetNaukriClean.head(1)

                            Uniq Id  ...                              Role
0  9be62c49a0b7ebe982a4af1edaa7bc5f  ...  Media Planning Executive/Manager

[1 rows x 11 columns]

In [ ]:
jobPostings1 = jobPostingsDatasetNaukriClean
jobPostings1 = jobPostings1[['Job Title', 'Key Skills', 'Job Salary', 'Functional Area', 'Role Category']]

jobPostings1['Job Salary'] = list(map(getPriceFromText, jobPostings1['Job Salary']))
jobPostings1.rename(columns={"Job Salary": "salary"}, inplace=True)

jobPostings1.rename(columns={"Functional Area": "description_highlights"}, inplace=True)

jobPostings1.rename(columns={"Key Skills": "skills"}, inplace=True)

jobPostings1.rename(columns={"Role Category": "industry"}, inplace=True)

jobPostings1.rename(columns={"Job Title": "job_title"}, inplace=True)

jobPostings1.head(1)

                job_title  ...     industry
0   Digital Media Planner  ...  Advertising

[1 rows x 5 columns]

In [ ]:
jobPostingsDatasetReedUk.head(1)

        category       city  ...       salary_offered  state
0  catering jobs  Chudleigh  ...   £18,323 per annum   Devon

[1 rows x 12 columns]

In [ ]:
jobPostings2 = jobPostingsDatasetReedUk
jobPostings2 = jobPostings2[['category', 'job_title', 'job_description', 'salary_offered', 'job_requirements']]

jobPostings2['salary_offered'] = list(map(getPriceFromText, jobPostings2['salary_offered']))
jobPostings2.rename(columns={"salary_offered": "salary"}, inplace=True)

jobPostings2['job_description'] = list(map(getHighlightsFromText, jobPostings2['job_description']))
jobPostings2.rename(columns={"job_description": "description_highlights"}, inplace=True)

jobPostings2.rename(columns={"job_requirements": "skills"}, inplace=True)

jobPostings2.rename(columns={"category": "industry"}, inplace=True)

jobPostings2.head(1)

        industry    job_title description_highlights   salary skills
0  catering jobs  Commis Chef                         £18,323    NaN

In [ ]:
jobPostingsDatasetNaukriMessy.head(1)

            company  ...                           uniq_id
0  MM Media Pvt Ltd  ...  43b19632647068535437c774b6ca6cf8

[1 rows x 14 columns]

In [ ]:
jobPostings3 = jobPostingsDatasetNaukriMessy
jobPostings3 = jobPostings3[['jobtitle', 'jobdescription', 'payrate', 'skills', 'industry']]

jobPostings3['payrate'] = list(map(getPriceFromText, jobPostings3['payrate']))
jobPostings3.rename(columns={"payrate": "salary"}, inplace=True)

jobPostings3['jobdescription'] = list(map(getHighlightsFromText, jobPostings3['jobdescription']))
jobPostings3.rename(columns={
    "jobdescription": "description_highlights",
    "jobtitle": "job_title"
    }, inplace=True)

jobPostings3.head(1)

                                  job_title  ...                          industry
0  Walkin Data Entry Operator (night Shift)  ...  Media / Entertainment / Internet

[1 rows x 5 columns]

~concat

In [ ]:
jobPostings = pd.concat([jobPostings1, jobPostings2, jobPostings3], axis=0)

log("JobPosting1 shape is " + str(jobPostings1.shape))
log("JobPosting2 shape is " + str(jobPostings2.shape))
log("JobPosting3 shape is " + str(jobPostings3.shape))

log("JobPostings shape is " + str(jobPostings.shape))

In [ ]:
jobPostingsFull = jobPostings.dropna(subset=['skills'])

log("JobPostings shape is " + str(jobPostingsFull.shape))

jobPostingsFull.head(50)

                                            job_title  ...                                    industry
0                               Digital Media Planner  ...                                 Advertising
1                            Online Bidding Executive  ...                                Retail Sales
2    Trainee Research/ Research Executive- Hi- Tec...  ...                                         R&D
3                                   Technical Support  ...  Admin/Maintenance/Security/Datawarehousing
4                   Software Test Engineer -hyderabad  ...                        Programming & Design
5              Opening For Adobe Analytics Specialist  ...                        Programming & Design
6      Sales- Fresher-for Leading Property Consultant  ...                                Retail Sales
7    Opportunity For Azure Devops Architect For Hy...  ...                        Programming & Design
8                                           BDE- PUNE  ...                         Institutional Sales
9                  Technical Support/ Product Support  ...                                       Voice
10                    Executive Assistant To Chairman  ...      Corporate Planning/Consulting/Strategy
11                                      SEO Executive  ...  Admin/Maintenance/Security/Datawarehousing
12                               Workflow Coordinator  ...                                  Operations
13                                        Oracle IDAM  ...                        Programming & Design
14   Looking Facebook /social Media Manager For ou...  ...                    Online/Digital Marketing
15         Wanted Engineering Fresher For MNC Chennai  ...                                         NaN
16                             Tooling &amp; Sampling  ...                          Engineering Design
17                                    Account Manager  ...                                    Accounts
18                                  Magento Developer  ...                        Programming & Design
19   Looking For Trained Freshers in MS Dynamics C...  ...                        Programming & Design
20   Job Openings Kotak Life/ Max Life/ Aditya Bir...  ...                     Retail/Personal Banking
21             Business Development / Corporate Sales  ...                                Retail Sales
22                 Business Development Manager (BDM)  ...                                Retail Sales
23                                       QA Executive  ...                    QA/Testing/Documentation
24    Back End Java Developer - Restful Services/soap  ...                        Programming & Design
25                                   Product Engineer  ...                        Programming & Design
26   Opening For Articulate tool Developer - Artic...  ...                        Programming & Design
27               Urgent Hiring for Area Sales Manager  ...                                Retail Sales
28    Software Engineer - C++ Development - Ooad/oops  ...                        Programming & Design
29                           Linux Administrator Lead  ...  Admin/Maintenance/Security/Datawarehousing
30   Hiring for Tech Pm/scrum Master for Hyderabad...  ...                          Project Management
32   US Based Financial Company Looking For Java A...  ...                        Programming & Design
33                           Strong Partner Ecosystem  ...                        Programming & Design
35     Senior Executive- Contract Logistics- Bom WP-A  ...                                   Logistics
36                                   Accounts Manager  ...                                    Accounts
37   Technical Sales Executive with fixed pay & lu...  ...                                       Voice
38                                       nutanix sme   ...                           Technical Support
39   System Architect - 3g/4g Wireless Network Arc...  ...                        Programming & Design
40  Excellent Opportunity For ” Linux Device Drive...  ...                        Programming & Design
41                                     Java Developer  ...                                         NaN
42                            Regional Representative  ...                         Institutional Sales
43                        Hiring For Record To Report  ...                                       Voice
44                   Product & Regional Sales Manager  ...                                Retail Sales
45       Senior Manager/associate Director - Mandarin  ...                           Senior Management
46            ODI Developer/lead ODI Developer - RACI  ...                        Programming & Design
47                                       UI Developer  ...                        Programming & Design
48                                 Assistant Manager   ...                                       Voice
49                                  Android Developer  ...                        Programming & Design
50   International BPO / Non Voice Process / Rotat...  ...                                       Voice
51                                      iOS Developer  ...                        Programming & Design

[50 rows x 5 columns]

##Train and prediction

In [ ]:
##Train and prediction

In [ ]:
from __future__ import print_function
import collections
import os
import tensorflow as tf
from keras.models import Sequential, load_model
from keras.layers import Dense, Activation, Embedding, Dropout, TimeDistributed, Bidirectional
from keras.layers import LSTM, CuDNNLSTM
from keras.optimizers import Adam
from keras.utils import to_categorical
from keras.callbacks import ModelCheckpoint, LambdaCallback
import numpy as np
import argparse
from google.colab import drive
import datetime
from keras.models import model_from_json
import keras
from bs4 import BeautifulSoup

tf.logging.set_verbosity(tf.logging.ERROR)

In [ ]:
def driveReconnect():
  drive.mount('/content/drive')
  os.chdir('/content/drive/My Drive/lstm')
  os.listdir()

driveReconnect()

In [ ]:
#for english v

##data_path = "./simple-examples/data/"

#for rus v

data_path = "./simple-examples/data/rus/"

def read_words(filename):

    if type(filename) == "string":
      with open(filename, 'r') as f:
          return f.read().replace("\n", " <eos> ").replace(".", " .").replace(",", " ,").replace("?", " ?").replace("!", " !").replace(":", " :").split()
    else:
      return filename.replace("\n", " <eos> ").replace(".", " .").replace(",", " ,").replace("?", " ?").replace("!", " !").replace(":", " :").replace(")", " )").replace("(", " (").split()
        
            


def build_vocab(filename):
    data = read_words(filename)

    counter = collections.Counter(data)
    count_pairs = sorted(counter.items(), key=lambda x: (-x[1], x[0]))

    #print(count_pairs)
    
    words, _ = list(zip(*count_pairs))
    
    #print(words)
    
    word_to_id = dict(zip(words, range(len(words))))
    
    #print(word_to_id)

    return word_to_id


def file_to_word_ids(filename, word_to_id):
    data = read_words(filename)
    return [word_to_id[word] for word in data if word in word_to_id]

def load_vk_messages_data(reload = False):

    global allMessages

    vk_data = []

    if reload:

      with open("annLastNN.html", encoding='utf8') as infile:
        parcedMessages = BeautifulSoup(infile, "html.parser")

      allMessages = parcedMessages.body.find_all('div', attrs={'class':'msg_item'})


    allMessagesBatch = allMessages

    for message in allMessagesBatch:

      messageContent = message.find("div", {"class": "msg_body"})
      if messageContent:
        text = messageContent.text
        vk_data.append(text)

    vk_data = " ; ".join(vk_data)

    return vk_data




def load_data(specific_files = False):
    # get the data paths

    if specific_files:

      train_path = specific_files[0]
      valid_path = specific_files[1]
      test_path = specific_files[2]

    else:

      train_path = os.path.join(data_path, "ptb.train.txt")
      valid_path = os.path.join(data_path, "ptb.valid.txt")
      test_path = os.path.join(data_path, "ptb.test.txt")

    # build the complete vocabulary, then convert text data to list of integers
    word_to_id = build_vocab(train_path)
    train_data = file_to_word_ids(train_path, word_to_id)
    valid_data = file_to_word_ids(valid_path, word_to_id)
    test_data = file_to_word_ids(test_path, word_to_id)
    vocabulary = len(word_to_id)
    reversed_dictionary = dict(zip(word_to_id.values(), word_to_id.keys()))

    print(train_data[:5])
    print(word_to_id)
    print(vocabulary)
    print(" ".join([reversed_dictionary[x] for x in train_data[:10]]))
    return train_data, valid_data, test_data, vocabulary, word_to_id, reversed_dictionary

data_from_vk = load_vk_messages_data(True)

print(len(data_from_vk))

train_data, valid_data, test_data, vocabulary, word_to_id, reversed_dictionary = load_data([data_from_vk[:400000], data_from_vk[400000:500000], data_from_vk[500000:]])

In [ ]:
class KerasBatchGenerator(object):

    def __init__(self, data, num_steps, batch_size, vocabulary, skip_step=5):
        self.data = data
        self.num_steps = num_steps
        self.batch_size = batch_size
        self.vocabulary = vocabulary
        # this will track the progress of the batches sequentially through the
        # data set - once the data reaches the end of the data set it will reset
        # back to zero
        self.current_idx = 0
        # skip_step is the number of words which will be skipped before the next
        # batch is skimmed from the data set
        self.skip_step = skip_step
        
    def generate(self):
      
        x = np.zeros((self.batch_size, self.num_steps))
        y = np.zeros((self.batch_size, self.num_steps, self.vocabulary))
        
        while True:
          
          for i in range(self.batch_size):
              if self.current_idx + self.num_steps >= len(self.data):
                  # reset the index back to the start of the data set
                  self.current_idx = 0
              x[i, :] = self.data[self.current_idx:self.current_idx + self.num_steps]
              temp_y = self.data[self.current_idx + 1:self.current_idx + self.num_steps + 1]
              # convert all of temp_y into a one hot representation
              y[i, :, :] = to_categorical(temp_y, num_classes=self.vocabulary)
              self.current_idx += self.skip_step
          yield x, y
        
        
num_steps = 10
batch_size = 100
        
train_data_generator = KerasBatchGenerator(train_data, num_steps, batch_size, vocabulary,
                                           skip_step=num_steps)

valid_data_generator = KerasBatchGenerator(valid_data, num_steps, batch_size, vocabulary,
                                           skip_step=num_steps)

In [ ]:
hidden_size = 500
dropout_rate = 0.7




model = Sequential()

model.add(Embedding(vocabulary, hidden_size, input_length=num_steps))

model.add(CuDNNLSTM(hidden_size, return_sequences=True))
model.add(CuDNNLSTM(hidden_size, return_sequences=True))

model.add(Dropout(dropout_rate))

model.add(Dense(vocabulary))

model.add(Dropout(dropout_rate))

model.add(Dense(vocabulary))

model.add(Activation('softmax'))

model.summary()

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['categorical_accuracy'])

In [ ]:
driveReconnect()

class SaveModelCallback(keras.callbacks.Callback):

    def on_epoch_end(self, batch, logs={}):
        driveReconnect()

saveModelCallback = SaveModelCallback()
checkpointer = ModelCheckpoint(filepath=data_path + '/model-{epoch:02d}.hdf5', verbose=1)
time_print_callback = LambdaCallback(on_epoch_end = lambda _, __: print(datetime.datetime.now()))

In [ ]:
num_epochs = 100

print(len(train_data)//(batch_size*num_steps))

model.fit_generator(train_data_generator.generate(), len(train_data)//(batch_size*num_steps), num_epochs,
                        validation_data=valid_data_generator.generate(),
                        validation_steps=len(valid_data)//(batch_size*num_steps), callbacks=[saveModelCallback, time_print_callback, checkpointer])

In [ ]:
driveReconnect()

#name_to_save = "model"
name_to_save = "model_rus_EmLsLsDrDeDrDe"

model_json = model.to_json()

with open(name_to_save + ".json", "w") as json_file:
    json_file.write(model_json)
    
model.save_weights(name_to_save + ".h5")

In [ ]:
driveReconnect()

#name_to_load = "model"
name_to_load = "model_rus_EmLsLsDrDeDrDe"

json_file = open(name_to_load + '.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
model = model_from_json(loaded_model_json)
# load weights into new model
model.load_weights(name_to_load + ".h5")

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['categorical_accuracy'])

In [ ]:
x_test, _ = next(valid_data_generator.generate())

x_test = x_test[0]
x_test = x_test.reshape((1, num_steps))

print(x_test.shape)

def getAnswer(x_test):

  #print(x_test.shape)

  answer = model.predict_on_batch(x_test)

  def getMax(arr):
    
    maxEl = arr[0]
    maxKey = 0
    
    for key in range(len(arr)):
      
      el = arr[key]
      
      if el > maxEl:
        
        maxEl = el
        maxKey = key
        
    return maxKey

  print(answer.shape)

  answer = answer.reshape(num_steps, 8719)  
  answerMax = []

  for ind, answerForWord in enumerate(answer):

    answerForWord = list(enumerate(answerForWord))
    answerForWord.sort(key = lambda el: el[1], reverse = True)
    answerMax.append(answerForWord[:3])

  x_test = x_test.reshape((num_steps))

  wordsInput = list(map(lambda key : reversed_dictionary[key], x_test))

  answerMaxWords = []

  for ind, answer in enumerate(answerMax):
    answerMaxWords.append([])
    for answerEl in answer:
      answerMaxWords[ind].append(reversed_dictionary[answerEl[0]])

  return wordsInput, answerMaxWords

(wordsInput, wordsAnswer) = getAnswer(x_test)




for ind, el in enumerate(wordsInput):
    print(el.ljust(15, ' ') + " ".join(wordsAnswer[ind]))