<a href="https://colab.research.google.com/github/Odoog/DLhomeworks/blob/master/JobsAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup

In [11]:
!pip3 install scv

Collecting scv
  Downloading https://files.pythonhosted.org/packages/b5/d9/a375082a791c41f9a88c8b2b3010c0a88036a2d855bd6c39b216c354afe2/scv-2.0.0-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from scv) (3.13)
Collecting virtualenv
  Downloading https://files.pythonhosted.org/packages/03/08/f819421002e85a71d58368f7bffbe0b1921325e0e8ca7857cb5fb0e1f7c1/virtualenv-20.4.7-py2.py3-none-any.whl (7.2MB)
     |████████████████████████████████| 7.2MB 7.5MB/s
Collecting enum34
  Downloading https://files.pythonhosted.org/packages/63/f6/ccb1c83687756aeabbf3ca0f213508fcfb03883ff200d201b3a4c60cedcc/enum34-1.1.10-py3-none-any.whl
Requirement already satisfied: appdirs<2,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (1.4.4)
Requirement already satisfied: filelock<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (3.0.12)
Collecting distlib<1,>=0.3.1
  Downloading https://files.pythonhosted.org/packages/87/26/f6a23dd3e578132cf924e0dd5d4e055af0cd4ab43e2a9f10b7568bfb39d9/distlib-0.3.2-py2.py3-none-any.whl (338kB)
     |████████████████████████████████| 348kB 38.3MB/s
Requirement already satisfied: six<2,>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (1.15.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from virtualenv->scv) (4.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->virtualenv->scv) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->virtualenv->scv) (3.7.4.3)
Installing collected packages: distlib, virtualenv, enum34, scv
Successfully installed distlib-0.3.2 enum34-1.1.10 scv-2.0.0 virtualenv-20.4.7

In [147]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

from babel import Locale
locale = Locale('en', 'US')

CURRENCY_SYMBOLS = [''.join(filter(lambda x: not x.isalpha(), st)) for st in list(locale.currency_symbols.values())]

print(CURRENCY_SYMBOLS)

INDUSTRY_NAMES = conf('INDUSTRY_NAMES')

['$', '$', '$', '¥', '€', '£', '$', '₪', '₹', '¥', '₩', '$', '$', '$', '$', '₫', '', '$', '', '', '¤']

## Import

In [90]:
from __future__ import print_function
import os
import numpy as np
from google.colab import drive
from tqdm.autonotebook import tqdm
import pandas as pd

import requests as rq
from datetime import datetime
import csv
import json

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  """

In [7]:
def driveReconnect():
  drive.mount('/content/drive')
  os.chdir('/content/drive/My Drive/MCH/data')
  os.listdir()

driveReconnect()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Library

In [5]:
def log(toLog = "", status = "log"):
    lg = open("log.txt", "a")
    currentTime = datetime.now().strftime("%H:%M:%S")
    errorSymbol = '!'
    rTimes = 0
    if status == "err":
        rTimes = 10
    lg.write(errorSymbol * rTimes + currentTime + " : " + toLog + "\n")

In [146]:
def conf(name, value = None):
    if value is not None:
        confFile = open('./configData.json', 'r')
        config = json.loads(confFile.read())
        confFile.close()

        config.update({name : value})

        confFile = open('./configData.json', 'w')
        confFile.write(json.dumps(config))
        confFile.close()

        return value
    else:
        confFile = open('./configData.json', 'r')
        config = json.loads(confFile.read())
        confFile.close()

        return config.get(name, None)

In [137]:
def getNetologyCourseInfo(url):
    if url == None:
        return url
    
    cName = url.split('/')[-1]

    rs = rq.get("https://netology.ru/backend/api/page_contents/programs%2F" + cName)

    courseInfo = []

    if rs.status_code == 200:
        try:
            courseInfo = rs.json()
        except:
            log('rs.content is ' + str(rs.content), 'err')    
    else:
        log('re.status_code is ' + str(rs.status_code), 'err')
        return

    skills = []

    try:
        skills = courseInfo["content"]["resume"]["skills"]
        return list(map(getPureSkillFromText, skills))
    except:
        try:
            skills = [t["title"] for t in courseInfo["content"]["resume"]["technologies"]]
            return skills
        except:
            return []

In [95]:
def updateNetologyCoursesData():
    rs = rq.get("https://netology.ru/backend/api/programs")

    courses = []

    if rs.status_code == 200:
        courses = rs.json()
    else:
        log('re.status_code is ' + str(rs.status_code), 'err')
        return

    with open('./Datasets/NetologyCoursesDataset.csv', 'w', encoding='UTF8') as f:
        writer = csv.writer(f)

        header = ['id', 'type', 'name', 'url', 'duration', 'projects_amount', 'date', 'main_direction', 'directions', 'skills', 'price_type', 'description']
        writer.writerow(header)

        for course in tqdm(courses):
            writer.writerow(
                [course.get(key, None) if key != 'skills' else getNetologyCourseInfo(course.get('url')) for key in header]
            )

    display(pd.read_csv('./Datasets/NetologyCoursesDataset.csv').head())

updateNetologyCoursesData()

HBox(children=(FloatProgress(value=0.0, max=549.0), HTML(value='')))

      id  ...                                        description
0  21275  ...  <p>Станьте IT-специалистом, отвечающим за каче...
1  21295  ...  <p>Станьте IT-специалистом, отвечающим за каче...
2  20528  ...  <p>Основы маркетинга, анализ и сегментация цел...
3  19718  ...  <p>Став Python-разработчиком, вы делаете первы...
4  12701  ...  <p>Социальные сети для бизнеса, построение стр...

[5 rows x 12 columns]

In [42]:
def getSkillsFromText(text):
    return []

In [191]:
def getPriceFromText(text):
    
    text = list(str(text))

    price = "".join(filter(lambda x: x.isdecimal() or x in CURRENCY_SYMBOLS or x in ['.', ','], text))

    if len(price) > 0:
        if price[0] == '.' or price[0] == ',':
            price = price[1:]
        else:
            if price[-1] == '.' or price[-1] == ',':
                price = price[:-1]
    return price

In [184]:
def getHighlightsFromText(text):
    return ""

In [ ]:
def getPureSkillFromText(text):
    return text

## Datasets manipulation

~load

In [161]:
jobPostingsDatasetNaukriClean = pd.read_csv('./Datasets/JobPostingsDatasetClean(Naukri.com).csv')
jobPostingsDatasetNaukriClean.head(1)

                            Uniq Id  ...                              Role
0  9be62c49a0b7ebe982a4af1edaa7bc5f  ...  Media Planning Executive/Manager

[1 rows x 11 columns]

In [162]:
jobPostingsDatasetReedUk = pd.read_csv('./Datasets/JobPostingsDataset(Reed.uk).csv')
jobPostingsDatasetReedUk.head(1)

        category       city  ...       salary_offered  state
0  catering jobs  Chudleigh  ...   £18,323 per annum   Devon

[1 rows x 12 columns]

In [163]:
jobPostingsDatasetNaukriMessy = pd.read_csv('./Datasets/JobPostingsDatasetMessy(Naukri.com).csv')
jobPostingsDatasetNaukriMessy.head(1)

            company  ...                           uniq_id
0  MM Media Pvt Ltd  ...  43b19632647068535437c774b6ca6cf8

[1 rows x 14 columns]

In [164]:
globalCoursesInfoDataset = pd.read_csv('./Datasets/CoursesInfoDataset(CourseTalk.com).csv')
globalCoursesInfoDataset.head(1)

  CourseTitle  ...    Cost
0   C# Basics  ...  $25/mo

[1 rows x 4 columns]

In [165]:
courseraGSIDataset = pd.read_csv('./Datasets/CourseraGSI.csv')
courseraGSIDataset.head(1)

                country iso3  ... percentile_rank      percentile_category
0  United Arab Emirates  ARE  ...        0.864407  Cutting-edge (75%-100%)

[1 rows x 8 columns]

In [169]:
skillsIndustryNeedsDatasetWorldBankGroup = pd.read_csv('./Datasets/IndustrySkillsNeeds(WorldBankGroup).csv', delimiter=';', encoding = 'latin-1')
skillsIndustryNeedsDatasetWorldBankGroup.head(20)

INDUSTRY_NAMES = conf("INDUSTRY_NAMES", list(set(skillsIndustryNeedsDatasetWorldBankGroup['industry_name'])))

In [170]:
skillsPenetrationDatasetWorldBankGroup = pd.read_csv('./Datasets/UseSkillPenetration(World Bank Group).csv', delimiter=';', encoding = 'latin-1')
skillsPenetrationDatasetWorldBankGroup.head(1)

  skill_group_category  ... skill_group_penetration_rate
0      Business Skills  ...                      0,00719

[1 rows x 6 columns]

~set structure

In [176]:
jobPostingsDatasets = {
    "naukri1" : jobPostingsDatasetNaukriClean,
    "reedUk" : jobPostingsDatasetReedUk,
    "naukri2" : jobPostingsDatasetNaukriMessy
}

~modify

In [189]:
jobPostingsDatasetNaukriClean.head(1)

                            Uniq Id  ...                              Role
0  9be62c49a0b7ebe982a4af1edaa7bc5f  ...  Media Planning Executive/Manager

[1 rows x 11 columns]

In [195]:
jobPostings1 = jobPostingsDatasetNaukriClean
jobPostings1 = jobPostings1[['Job Title', 'Key Skills', 'Job Salary', 'Functional Area', 'Role Category']]

jobPostings1['Job Salary'] = list(map(getPriceFromText, jobPostings1['Job Salary']))
jobPostings1.rename(columns={"Job Salary": "salary"}, inplace=True)

jobPostings1.rename(columns={"Functional Area": "description_highlights"}, inplace=True)

jobPostings1.rename(columns={"Key Skills": "skills"}, inplace=True)

jobPostings1.rename(columns={"Role Category": "industry"}, inplace=True)

jobPostings1.rename(columns={"Job Title": "job_title"}, inplace=True)

jobPostings1.head(1)

                job_title  ...     industry
0   Digital Media Planner  ...  Advertising

[1 rows x 5 columns]

In [193]:
jobPostingsDatasetReedUk.head(1)

        category       city  ...       salary_offered  state
0  catering jobs  Chudleigh  ...   £18,323 per annum   Devon

[1 rows x 12 columns]

In [196]:
jobPostings2 = jobPostingsDatasetReedUk
jobPostings2 = jobPostings2[['category', 'job_title', 'job_description', 'salary_offered', 'job_requirements']]

jobPostings2['salary_offered'] = list(map(getPriceFromText, jobPostings2['salary_offered']))
jobPostings2.rename(columns={"salary_offered": "salary"}, inplace=True)

jobPostings2['job_description'] = list(map(getHighlightsFromText, jobPostings2['job_description']))
jobPostings2.rename(columns={"job_description": "description_highlights"}, inplace=True)

jobPostings2.rename(columns={"job_requirements": "skills"}, inplace=True)

jobPostings2.rename(columns={"category": "industry"}, inplace=True)

jobPostings2.head(1)

        industry    job_title description_highlights   salary skills
0  catering jobs  Commis Chef                         £18,323    NaN

In [197]:
jobPostingsDatasetNaukriMessy.head(1)

            company  ...                           uniq_id
0  MM Media Pvt Ltd  ...  43b19632647068535437c774b6ca6cf8

[1 rows x 14 columns]

In [198]:
jobPostings3 = jobPostingsDatasetNaukriMessy
jobPostings3 = jobPostings3[['jobtitle', 'jobdescription', 'payrate', 'skills', 'industry']]

jobPostings3['payrate'] = list(map(getPriceFromText, jobPostings3['payrate']))
jobPostings3.rename(columns={"payrate": "salary"}, inplace=True)

jobPostings3['jobdescription'] = list(map(getHighlightsFromText, jobPostings3['jobdescription']))
jobPostings3.rename(columns={
    "jobdescription": "description_highlights",
    "jobtitle": "job_title"
    }, inplace=True)

jobPostings3.head(1)

                                  job_title  ...                          industry
0  Walkin Data Entry Operator (night Shift)  ...  Media / Entertainment / Internet

[1 rows x 5 columns]

~concat

In [199]:
jobPostings = pd.concat([jobPostings1, jobPostings2, jobPostings3], axis=0)

log("JobPosting1 shape is " + str(jobPostings1.shape))
log("JobPosting2 shape is " + str(jobPostings2.shape))
log("JobPosting3 shape is " + str(jobPostings3.shape))

log("JobPostings shape is " + str(jobPostings.shape))

In [201]:
jobPostingsFull = jobPostings.dropna(subset=['skills'])

log("JobPostings shape is " + str(jobPostingsFull.shape))

jobPostingsFull.head(30)

                                            job_title  ...                                    industry
0                               Digital Media Planner  ...                                 Advertising
1                            Online Bidding Executive  ...                                Retail Sales
2    Trainee Research/ Research Executive- Hi- Tec...  ...                                         R&D
3                                   Technical Support  ...  Admin/Maintenance/Security/Datawarehousing
4                   Software Test Engineer -hyderabad  ...                        Programming & Design
5              Opening For Adobe Analytics Specialist  ...                        Programming & Design
6      Sales- Fresher-for Leading Property Consultant  ...                                Retail Sales
7    Opportunity For Azure Devops Architect For Hy...  ...                        Programming & Design
8                                           BDE- PUNE  ...                         Institutional Sales
9                  Technical Support/ Product Support  ...                                       Voice
10                    Executive Assistant To Chairman  ...      Corporate Planning/Consulting/Strategy
11                                      SEO Executive  ...  Admin/Maintenance/Security/Datawarehousing
12                               Workflow Coordinator  ...                                  Operations
13                                        Oracle IDAM  ...                        Programming & Design
14   Looking Facebook /social Media Manager For ou...  ...                    Online/Digital Marketing
15         Wanted Engineering Fresher For MNC Chennai  ...                                         NaN
16                             Tooling &amp; Sampling  ...                          Engineering Design
17                                    Account Manager  ...                                    Accounts
18                                  Magento Developer  ...                        Programming & Design
19   Looking For Trained Freshers in MS Dynamics C...  ...                        Programming & Design
20   Job Openings Kotak Life/ Max Life/ Aditya Bir...  ...                     Retail/Personal Banking
21             Business Development / Corporate Sales  ...                                Retail Sales
22                 Business Development Manager (BDM)  ...                                Retail Sales
23                                       QA Executive  ...                    QA/Testing/Documentation
24    Back End Java Developer - Restful Services/soap  ...                        Programming & Design
25                                   Product Engineer  ...                        Programming & Design
26   Opening For Articulate tool Developer - Artic...  ...                        Programming & Design
27               Urgent Hiring for Area Sales Manager  ...                                Retail Sales
28    Software Engineer - C++ Development - Ooad/oops  ...                        Programming & Design
29                           Linux Administrator Lead  ...  Admin/Maintenance/Security/Datawarehousing

[30 rows x 5 columns]